.about-me {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #1e0f47;
    overflow: hidden;
}

.about-me>div>div {
    padding: 1rem;
    border-radius: 25px;
    width: 0px;
  
    display: grid;
    grid-template-rows: 0fr;
}

.about-me>div>div>div {
    overflow: hidden;
    color: white;
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.about-me img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20em;
    height: auto;
}

.my-name {
    animation: none;
    position: absolute;
    top: 25vh;
    left: 25vw;
}

.my-name>div {
    animation: none;
    background-color: #2229dd;
}

.my-name>div div {
    opacity: 0;
    animation: none;
}

.my-age {
    animation: none;
    position: absolute;
    top: 65vh;
    left: 25vw;
}

.my-age>div {
    animation: none;
    background-color: #d72f2f;
}

.my-age>div div {
    opacity: 0;
    animation: none;
}

.my-goals {
    animation: none;
    position: absolute;
    top: 65vh;
    right: 25vw;
}

.my-goals>div {
    animation: none;
    background-color: #e4ce3a;
}

.my-goals>div div {
    opacity: 0;
    animation: none;
}

.my-picture {
    animation: none;
    position: absolute;
    top: 25vh;
    right: 25vw;
}

.my-picture>div {
    animation: none;
    background-color: #1acd41;
}

.my-picture>div div {
    opacity: 0;
    animation: none;
}

.my-picture>div div img {
    height: 100px;
    width: auto;
    border-radius: 50%;
}