.puzzle1 {
    background-color: #ffe5b2;
}

.objective {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    left: 33%;
    display: grid;
    place-items: center;
    z-index: 10;
}

.tree {
    position: absolute;
    top: 60%;
    left: 66%;
    transform: translate(-50%, -50%);
}

.tree * {
    box-sizing: content-box;
}

.goal {
    position: relative;
    width: 30px;
    height: 50px;
}

.goal button {
    position: absolute;
    right: -4em;
}

.goal h2 {
    position: absolute;
    right: -4em;
    top: 50%;
    transform: translateY(-50%);
}

.puzzle1 img {
    height: 100%;
    width: 100%;
    pointer-events: none;
    user-select: none;
}





.stem {
    position: relative;
    width: 30px;
    background-image: linear-gradient(90deg, #6c3411 15%, #b15922 16%, #b15922 85%, #ffcbab 86%);
    border: solid 3px black;
}

.bottom-stem {
    height: 100px;
    border-top: none;
    border-radius: 5px 5px 20px 20px;
}

.top-stem {
    border-bottom: none;
    height: 300px;
    animation: falling 2s linear infinite;
    transform-origin: 15px 325px;
    border-radius: 20px 20px 5px 5px;
}

.branch {
    position: absolute;
    background-image: linear-gradient(-180deg, #ffcbab 15%, #b15922 16%, #b15922 85%, #6c3411 86%);
    height: 15px;
    width: 150px;

}

.branch-right {
    right: 33px;
    transform: translate(100%, 50%) rotate(-50deg);
    bottom: 30%;
    border: solid 3px black;
    border-left: none;
    border-radius: 10px 10px 10px 0;
}

.branch-left {
    left: 33px;
    transform: translateX(-100%) rotate(50deg);
    bottom: 57%;
    border: solid 3px black;
    border-right: none;
    border-radius: 10px 10px 0 10px;
}

/* @keyframes falling {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(-30deg)
    }
  } */

.leaves {
    position: absolute;
    border-radius: 50%;
    outline: solid 3px black
}

.leaves-right {
    width: 200px;
    height: 250px;
    background-image: linear-gradient(45deg, #469867 40.9%, #64bc89 41%);
    right: -7em;
    top: 100%;
    transform: translateY(-50%) rotate(50deg);
}

.leaves-left {
    width: 140px;
    height: 180px;
    background-image: linear-gradient(45deg, #469867 40.9%, #64bc89 41%);
    left: -4em;
    top: 100%;
    transform: translateY(-50%) rotate(-50deg);
}

.leaves-main {
    width: 250px;
    height: 280px;
    background-image: linear-gradient(45deg, #64bc89 40.9%, #7dcf9f 41%);
    left: 50%;
    top: 5em;
    transform: translate(-50%, -100%);
}

.top-stem::before {
    box-sizing: content-box;
    z-index: 2;
    position: absolute;
    content: "";
    bottom: 0;
    transform: translateY(100%) scale(0.8);

    width: 5px;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid #ffcb64;
}

.top-stem::after {
    box-sizing: content-box;
    z-index: 1;
    position: absolute;
    content: "";
    bottom: 0;
    transform: translateY(100%) scale(1.15);

    width: 5px;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 10px solid transparent;
    border-top: 25px solid black;
}

.bottom-stem::before {
    box-sizing: content-box;
    z-index: 2;
    position: absolute;
    content: "";
    top: 0;
    transform: translateY(-100%) scale(0.8);

    width: 5px;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid #ffcb64;
}

.bottom-stem::after {
    box-sizing: content-box;
    z-index: 1;
    position: absolute;
    content: "";
    top: 0;
    transform: translateY(-100%) scale(1.15);

    width: 5px;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 25px solid black;
}